# Variables de entorno para Firebase
# Copia este archivo a .env y completa con tus valores reales

# Firebase - estas variables deben tener el prefijo PUBLIC_ para que Astro las exponga al cliente
PUBLIC_FIREBASE_API_KEY=AIzaSyAUlu4PUxWVZMUr4LcptsRIKUXqTqyM1jE
PUBLIC_FIREBASE_AUTH_DOMAIN=reino-da-mata-2fea3.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=reino-da-mata-2fea3
PUBLIC_FIREBASE_STORAGE_BUCKET=reino-da-mata-2fea3.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=557584892196
PUBLIC_FIREBASE_APP_ID=1:557584892196:web:e7207c259f360b751ab3b1
PUBLIC_FIREBASE_MEASUREMENT_ID=G-MLSCKQFTCY
